torch==2.5.1
numpy==1.26.4
scipy==1.14.1
mujoco==3.2.7
hydra-core==1.3.2
omegaconf==2.3.0
pytorch-lightning==2.5.0.post0
transformers==4.48.3
pynput==1.8.1
matplotlib==3.9.4
vector-quantize-pytorch==1.22.17
colorlog==6.9.0
adam-atan2-pytorch==0.1.0
runpod==1.7.13
jsonschema==4.26.0
pandas==2.2.3
einops==0.8.1
